@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
}


*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: v.$body;
    color: v.$primary;
    font-family: v.$mainFont;
    font-size: 1.6rem;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

[class$="container"] {
    max-width: 40rem;
    width: 95%;
    margin: 0 auto;
    @include m.tablet-1 { 
        max-width: 150rem;
    }

}

[class*="spacing"] {
    padding: 2.5rem 0;
    
    @include m.tablet-1 { 
        padding: 5rem 0;
    }
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

button {
    all: unset;
    cursor: pointer; 
}

a {
    text-decoration: none;
    color: v.$primary;
}

input:focus-visible {
    outline: none;
}
