@use '../../../scss/base/variables' as v;
@use '../../../scss/base/mixins' as m;


.card {
    background-color: v.$bg-white;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 1rem;

    &__img {
        padding: 1rem;
        img {
            width: 100%;
            object-position: center;
            border-radius: 1rem;
        }
    }
    &__info {
        margin-top: 2rem;
        h3 {
            margin-bottom: .5rem;
            text-align: center;
            font-size: 1.6rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @include m.tablet-1 { 
                font-size: 2rem;
            }
        }
    }
    .swiper-slide-active {
        transform: scale(1.07);
        box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
        z-index: 10;
        height: auto;
    } 

    &__heartActive {
        color: red;
    }
    &__heartFalse {
        color: gray;
    }
}