

.recipesFound {

    &__empty {
        display: grid;
        place-items: center;
        text-align: center;
        font-weight: 400;
        img {
            width: 50rem;
            height: auto;
        }
    }
}